main {
    margin-top: 20px;
}

body {  /*Changes the background colour of page and colour of text. Also changes the font type*/
    background-color: #f0f0f0; 
    color: #333; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.link-tabs { /*Puts the links to pages in a button*/
    color: #333;
    text-decoration: none;
    padding: 10px 18px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.link-tabs:hover { /*Changes the colour of these buttons when user hovers overs them*/
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.site-header {
    background-image: url("Elevate_Gym_Logo.png"); /*Sets logo as header background*/
    background-size: 400px auto;
    background-repeat: no-repeat; /*Stops logo repeating*/
    background-position: center; /*Centres logo*/
    min-height: 250px;
    background-color: rgba(0,0,0,0.88); /*Adds background colour to header*/

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.site-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); 
    z-index: 0;
}

.site-header * {
    position: relative;
    z-index: 1;
}

nav { /*Positioning of the page link buttons*/
    display: flex;
    gap: 10px;
}

footer { /*makes the footer a different colour, makes it more easy to seperate from rest of page*/
    padding: 20px;
    background-color: #333;
    color: white;
}

#copyright { /*Changes copyright colour and text size*/
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

#ClassesTitle { /*Centres and changes text size of 'Our Classes' and 'Class Schedule'*/
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

#trainingTitle { /*Centres and changes the titles for the classes*/
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 23px;
}

.class-description { /*Centres the descriptions of the classes*/
    text-align: center;
    max-width: 800px;    
    margin: 0 auto;       
    padding: 20px;
    margin-bottom: 20px;
}

table { /*for the classes table*/
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white; /*background colour for the classes table*/
    border-radius: 10px;
    overflow: hidden; /*Hides any overflow text*/
}

th, td { /*centres the text in the header and columns*/
    padding: 12px;
    text-align: center;
}

th { /*Changes the colour of then background and text for the header of the class schedule*/
    background: #8b0000;
    color: white;
}

tr:nth-child(even) { /*Makes the yoga and strength training row slightly darker*/
    background: #f7f7f7; /*Stops them from blending together*/
}

tr:hover { /*When user hovers over the row it changes the colour to yellow, helps user focus on the information in the highlighted row*/
    background-color: #fff3b0 !important;
}

td { /*Changes colour of the row seperators*/
    border-bottom: 1px solid #ddd;
}

.class-card { /*Gives the class descriptions a white background*/
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.class-card img { /*For the banner images*/
    display: block;
    margin: 15px auto 0 auto;
    max-width: 100%;
    height: auto; /*Scales to fit the screen so image isnt squished*/
}

.slidingBanner { 
    width: 100%;
    overflow: hidden; /*Hides any overflow from the images*/
    position: relative;
}

.yogaImage, .HypertrophyImage, .StrengthImage { /*For the images in each class section*/
    display: flex;
    width: 300%; 
    transition: transform 0.6s ease;
}

.yogaImage img, .HypertrophyImage img, .StrengthImage img { /*Sets the images width in the slides*/
    width: 33.333%;
}
