body {
    background-color: #f0f0f0; /* Light gray background */
    color: #333; /* Dark text color for readability */
    font-family: Arial, sans-serif; /* Clean and modern font */
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 90px;
    font-style: italic;
    font-family: Agency FB;
}

#front-page-button {
    background-color: #8b0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}